<h1>PRODUCT SET PARENT COMPONENT</h1>

<!-- <my-wiki-smart></my-wiki-smart> -->

<input type="text"
       [ngModel]="mymodel"
       (keypress)="mymodel=$event.target.value"/>

#{{mymodel}}#

<input type="text" [ngModel]="mymodel" (ngModelChange)="valuechange($event)" />


<hr>

<ul class="products">
  <li *ngFor="let product of products"
    [class.selected]="product === selectedProduct"
    (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
    <button class="delete" (click)="delete(product); $event.stopPropagation()">x</button>
  </li>
</ul>
